body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
h1{
  font-size: 50px;
}
.name-cls{
  color: gold;
}
.sona-bondhu{
  display: flex;
}
p{
  padding: 50px;
}
.helf-width{
  width: 50%;
  padding-left: 5%;
}
.helf-width img{
  width: 85%;
}
.button-desing{
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(green, black);
  color: aliceblue;
  font-weight: 800;
}

.middle-work{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  
}

.middle-work{
  height: 500px;
  padding-bottom: 150px;
}
.middle-img{
  width: 50%;
  padding-left: 5%;
}
.middle-img img{
  width: 85%;
  padding: 20px 15px;
}
.middle-text{
  width: 50%;
  padding-right: 10px;
}

.middle-text p{
  padding-right: 100px;
  margin: 33px;
}
.button-des{
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(green, black);
  color: aliceblue;
  font-weight: 800;
}
.helf-width h2{
  font-size: 45px;
}
.text-shaju{
  text-align: justify;
}
.Last-kaj{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  
}

.experiences-itme{
box-shadow: 10px 10px 40px green;
width: 40%;
margin-left: 5%;
margin-right: 5%;
padding-left: 20px;
border-radius: 5px;

}
#ex-itme1{
  border-left: 5px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
#ex-itme{
  border-left: 5px solid;
  border-image: linear-gradient(rgb(255, 0, 0), cyan);
  border-image-slice: 1;
}

#fuck p{ 
    padding: 50px;
    text-align: center;
}